# working and output directories
_build/
_build.*/
_findlib/
ocamldoc/
gh-pages/

# test working and coverage directories
tests/_scratch
tests/_coverage
tests/_report
tests/_preserve

# scratch directory for notes, etc.
scratch/

*.install
*.merlin

# emacs temporary files
*~
