# working and output directories
_build/
_build.*/
_install.meta/
ocamldoc/

# test working and coverage directories
tests/_scratch
tests/_coverage
tests/_report
tests/_preserve

# generated module lists
*.mlpack
bisect.odocl

# scratch directory for notes, etc.
scratch/
