sudo: required

language: generic

matrix:
  include:
    - os: linux
      env: OCAML_VERSION=4.02
    - os: linux
      env: OCAML_VERSION=4.03
    - os: linux
      env: OCAML_VERSION=4.04
    # - os: linux
    #   env: OCAML_VERSION=4.04 COVERALLS=yes
    - os: osx
      env: OCAML_VERSION=4.02
    - os: osx
      env: OCAML_VERSION=4.03
    - os: osx
      env: OCAML_VERSION=4.04

  fast_finish: true

script: bash -e ./src/travis_ci_test.sh
