# JBUILDER_GEN

package "fast" (
  version = "dev"
  description = "Old Bisect_ppx package (deprecated)"
  requires = "bisect_ppx"
)

package "plugin" (
  version = "dev"
  description = "Old Bisect_ppx Ocamlbuild plugin (deprecated)"
  requires = "bisect_ppx.ocamlbuild"
)
